export DESIGN_NICKNAME ?= {{ design_nickname }}
export DESIGN_NAME     = {{ design_name }}
export PLATFORM        = {{ platform }}

export SYNTH_HIERARCHICAL ?= {{ synth_hierarchical }}
export SYNTH_MINIMUM_KEEP_SIZE ?= {{ synth_min_keep_size }}

export VERILOG_FILES = $(sort $(wildcard $(DESIGN_HOME)/src/{{ design_nickname }}/*.v))
export SDC_FILE      = $(DESIGN_HOME)/{{ platform }}/{{ design_nickname }}/constraint.sdc

{% if use_blocks == false %}
export ADDITIONAL_LEFS = ./platforms/{{ platform }}/lef/fakeram7_256x32.lef
export ADDITIONAL_LIBS = $(LIB_DIR)/fakeram7_256x32.lib
{% endif %}

# Floorplan automático
export FP_CORE_UTIL    = {{ fp_core_util }}
export FP_ASPECT_RATIO = {{ fp_aspect_ratio }}

export PLACE_DENSITY_LB_ADDON = {{ place_density_lb_addon }}
export IO_CONSTRAINTS  = $(DESIGN_HOME)/{{ platform }}/{{ design_nickname }}/io.tcl
export MACRO_PLACE_HALO = {{ macro_place_halo }}

export TNS_END_PERCENT = {{ tns_end_percent }}

export CTS_CLUSTER_SIZE     = {{ cts_cluster_size }}
export CTS_CLUSTER_DIAMETER = {{ cts_cluster_diameter }}

export REMOVE_ABC_BUFFERS = {{ remove_abc_buffers }}